 *.ico
 *.lock
 *.log
 .babelrc
 .DS_Store
 .editorconfig
 .git
 .gitattributes
 .gitignore
 .idea/*
 .npmrc
 .nvmrc
 .prettierignore
 .prettierrc
 .stylelintrc
 .vscode/*
 .yarnrc
 dist
 LICENSE
 node_modules
 tools/templates/*
 webpack.config.js
